
* {
    padding: 0;
    margin: 0;
}

:root {
    /* Primary */
    --Soft--orange: hsl(35, 77%, 62%);
    --Soft--red: hsl(5, 85%, 63%);
    /* Neutral */
    --Off--White: hsl(36, 100%, 99%);
    --Grayish--blue: hsl(233, 8%, 79%);
    --Dark--grayish--blue: hsl(236, 13%, 42%);
    --Very--dark--blue: hsl(240, 100%, 5%);
    --Font--size--paragraph: 15px;

}

body {
    background: #fefdf9;
    font-family: 'Inter', sans-serif;
}

.cont {
    margin-left: 50px;
    margin-right: 50px;
}
.logo {
    width: fit-content;
}

ul a {
    text-decoration: none;
    color: var(--Grayish--blue);
}

ul a:hover {
    color: var(--Soft--red);
}
header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

main {
    margin-top: 50px;
    display: flex;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    margin-top: 30px;
}


.contacts {
    height: fit-content;
}

.contacts ul {
    display: flex;
    list-style: none;
}

.contacts li {
    margin-right: 20px;
    
}
.left-part {
    float: left;
}
.left-part img{
    width: 97%;
    padding-right: 20px;
}

.right-part {
    
    float: right;
}

.menu {
    position: relative;
    display: none;
}
.menu i {
    font-size: 30px;
}

.contact2 ul{
    list-style: none;
}

.contact2 ul li a {
    color: white;
}

.contact2 ul li a:hover {
    color: var(--Soft--red);
}

.contact2 ul li {
    margin-top: 15px;
}

.contact2 {
    display: none;
    position: absolute;
    top: 50px;
    left: -50px;
    background-color: var(--Soft--orange);
    padding: 15px 20px;
    border-radius: 15px;
    transition: all 0.3s;
}

.show {
    display: block;
}
.menu:hover {
    cursor: pointer;
}

.content {
    color: white;
    padding: 30px;
    background-color: var(--Very--dark--blue);
}

.content a {
    text-decoration: none;
    color: white;
}

.content a:hover {
    color: var(--Soft--orange);
}

.content h1 {
    color: var(--Soft--orange);
    margin-bottom: 30px;
    font-size: 35px;
}

.content h3 {
    margin-bottom: 15px;
    font-size: 20px;
}

hr {
    margin: 20px 0;
}

.bottom-main-info {
    display: flex;
    margin-top: 30px;
}

.web-3 h1 {
    color: var(--Very--dark--blue);
    font-weight: 800;
    font-size: 50px;

}

.right-of-web p {
    font-size: 17px;
    font-weight: 300;
    color: var(--Dark--grayish--blue);
}

.right-of-web button {
    padding: 20px 40px;
    margin-top: 60px;
    border: none;
    font-family: inherit;
    background: var(--Soft--red);
    color: var(--Off--White);
    font-size: 20px;
    letter-spacing: 5px;
}
.bottom-news {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 50px;
}
.card {
    display: flex;
    margin-top: 40px;
}

.info {
    margin-left: 40px;
    width: 200px;
}

.info h3{
    margin-bottom: 40px;
    color: var(--Grayish--blue);
}

.info a {
    text-decoration: none;
    color: var(--Very--dark--blue);
}
.info a:hover {
    color: var(--Soft--red);
}

.info p {
    line-height: 35px;
}
.info p:hover,
.info h3:hover {
    cursor: default;
}
.news-name{
    margin-bottom: 15px;
    font-size: 17px;
}

button:hover {
    cursor: pointer;
    background: var(--Very--dark--blue);
}
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }


@media (max-width: 954px) {
    .contacts {
        display: none;
    }

    .menu {
        display: block;
    }
}